{% extends "base.html" %} {% block title %} Page not found | EduSys {% endblock %} {% block content %}
{% load static %}
<div class="row h-100 justify-content-center align-items-center">
    <div class="col-md-8 rounded text-center p-3 m-3">
        <h1 class="text-danger">Error 404: Not Found</h1>
        <p class="text-dark">
            Oops! What you are looking for is not found!
        </p>
        <div class="row d-flex justify-content-center align-items-center">
            <img src="{% static '404.svg'%}" style="width: 70vmin;">
        </div>
    </div>
</div>
{% endblock %}