{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{{form_title}} | EduSys
{% endblock %}

{% block content %}
<div class="row h-100 justify-content-center align-items-center m-3 p-3">
    <div class="col-md-5">
        <form class="form-signin" method='POST' action='' enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading">{{form_title}}</h2>
            {% if stepped_form %}
            <h4 class="text-muted">Step {{step}} of {{total}}</h4>
            {% endif %}

            {{form|crispy}}
            </label>
            <br>

            {% if stepped_form %}
            <div class="row d-flex justify-content-between mx-0">
                <button class="btn btn-lg btn-primary {% if step == 1 %} disabled {% endif %}">
                    {{previous_button |default:"Previous"}}
                </button>
                <button class="btn btn-lg btn-primary" type="submit">
                    {{next_button |default:"Next"}}
                </button>
            </div>
            {% else %}
            <button class="btn btn-lg btn-primary btn-block" type="submit">{{submit_text|default:form_title}}</button>
            {% endif %}
            <br>
            <a href="{{return_link|default:'/dashboard/'}}" class="btn btn-lg btn-outline-dark btn-block">
                {{return_text|default:'Go back to Dashboard'}}
            </a>
        </form>
    </div>
</div>

{% endblock %}